.head-container {
    background-color: #3498db; 
    padding: 410px;
    text-align: center;
    margin-top: -200px; 
    font-size: 35px;
     // Dostosuj wartość marginesu
    font-family: fantasy;
}

