.head-container {
    background-color: #3498db; // Kolor tła nagłówka
    padding: 410px;
    text-align: center;
    margin-top: -200px; 
    font-size: 35px;// Przesuń cały kontener w górę o 10 pikseli
     // Dostosuj wartość marginesu
    font-family: fantasy;
}

