// _home.scss

.header-container {
    background-color: #3498db; // Kolor tła nagłówka
    padding: 300px;
    text-align: center;
    margin-top: -200px; // Przesuń cały kontener w górę o 10 pikseli
     // Dostosuj wartość marginesu
}

.company-logo {
    max-width: 400px; // Dostosuj szerokość logo
    height: auto;
    border: 5px solid #333;
    border-radius: 14px; // Zachowaj proporcje
   
}

.company-info {
    background-color: yellow; // Kolor tła kwadratu z tekstem
    color: black; // Kolor tekstu
    padding: 10px;
    margin-top: 10px; // Odstęp między logiem a tekstem
    font-family: 'Your-Fancy-Font', sans-serif; // Zmiana na wybraną font
    font-size: 24px;
    border-radius: 14px;
     // Zmiana rozmiaru czcionki
}
.google-maps-link {
    background-color: #2ecc71; // Kolor tła dla linku do Google Maps
    color: black; // Kolor tekstu
    display: inline-block;
    padding: 10px;
    margin-top: 10px; // Odstęp między tekstem a linkiem
    text-decoration: none;
    font-size: 30px;
    border-radius: 14px;
}

.google-maps-link:hover {
    background-color: #27ae60; // Kolor tła dla linku po najechaniu myszą
}